repopack
setuptools
virtualenv
groq
prompt_toolkit
requests
zmq
langgraph
langchain_openai
langchain_ollama
langchain_anthropic
langchain_groq
langchain
langchain_community
langchain-huggingface
python-dotenv>=0.19.0
textual
textual-dev
pyte
pyperclip
shortuuid
numba
rich-pixels
